
#showcase {
    width: 100%;
    margin-top: 5rem;
}

#showcase > h2 {
    margin-bottom: 5rem;

    color: var(--font-color); 
    font-size: 2.5rem;
    font-family: "Open Sans", sans-serif;
}

#showcase > .display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    width: 100%;
}

#showcase > .display > .project-card {
    display: grid;
    grid-template-rows: 3fr 1fr;
    border-radius: 6px;
    border: 1px solid var(--secondary-color);

    width: 19rem;
    height: 20rem;
}

.project-card > .center > img {
    width: 99%;
    height: 99%;
    object-fit: cover;
}

.project-card > .bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-top: 1px solid var(--secondary-color);
}

.project-card > .bottom > .container > h3 {
    margin: 0.25rem;
    margin-top: 0.5rem;

    font-size: 1.4rem;
    color: var(--font-color); 
}

.project-card > .bottom > .container > h4 {
    margin: 0.25rem;

    font-size: 1.2rem;
    color: var(--secondary-color); 
}

.project-card > .bottom > .center > .project-link {
    border-radius: 18px;
    box-shadow: 0 0 0 0 var(--glow-color);
    font-size: 2.5rem;
    color: var(--font-color); 
    transition: box-shadow 0.5s ease-out;
}

.project-card > .bottom > .center > .project-link:hover {
    box-shadow: 0 0 5px 10px var(--glow-color);
}

@media screen and (max-width: 661px) {
    #showcase > .display {
	display: flex;
	justify-content: center;
	align-items: center;	
	flex-direction: column;
    }

    #showcase > .display > .project-card {
	width: 25rem;
	height: 20rem
    }

    #showcase > h2 {
	margin-left: 5%;
    }
}
